<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project 1 - Sentiment Analysis</title>
    <link rel="stylesheet" href="../static/css/project-style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header class="project-header">
        <nav class="navbar">
            <a href="../index.html">&#8592; Back to Portfolio</a>
        </nav>
    </header>

    <main class="project-main">
        <section class="project-hero">
            <img src="../static/images/Finace Feature.png" alt="Project Image">
            <div class="project-intro">
                <h1>House Price Predictor</h1>
                <p class="overview">
                    Developed an end-to-end House Price Prediction web app using Python, Streamlit, and Scikit-learn, delivering real-time 
                    predictions with 90%+ user satisfaction. 
                </p>
            </div>
        </section>

        <section class="project-details">
            <h2>Overview</h2>
            <p>
                • Developed a web application for personal finance management using Flask, MySQL, and Python, enabling users to track 
                    income and expenses effectively. <br>
                • Implemented secure user registration and authentication with password hashing, ensuring data protection and user privacy. <br>
                • Enabled CRUD operations for financial transactions, allowing users to easily manage their financial activities. <br>
                • Integrated contact and feedback forms to enhance user engagement and gather valuable insights for continuous improvement. <br>
            </p>

            <h2>Tools & Technologies Used</h2>
            <ul class="tools">
                <li>Python</li>
                <li>SQL</li>
                <li>Pandas</li>
                <li>Numpy</li>
                <li>Flask</li>
                <li>HTML</li>
                <li>CSS</li>
            </ul>

            <h2>Key Features</h2>
            <ul>
                <li>User Friendly interface</li>
                <li>Login ad Signup with Data security</li>
                <li>Add transaction based on income and expence</li>
                <li>Delete Transaction</li>
                <li>Change Transaction on one click</li>
            </ul>

            <h2>Project Links</h2>
            <p>
                <a href="https://github.com/khemu003/Finance_flask_Project" target="_blank" class="btn">View on GitHub</a>
                <!-- <a href="https://house-price-predictor-project.streamlit.app/" target="_blank" class="btn live">Live Demo</a> -->
            </p>
        </section>
    </main>

    <footer class="project-footer">
        <p>&copy; 2025 Khemraj Mangal | Data Science Portfolio</p>
    </footer>
</body>
</html>
